body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: black;
    font-family: sans;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media(max-width: 610px) {
    header, header nav {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

header a, header a:hover, header a:visited {
    color: #eee;
    text-decoration: none;
    padding: 0.2em;
}

header a:hover {
    color: white;
}

main {
    width: 96%;
    margin: 0 auto;
    flex: 1;
    padding: 10px 0;
}

main > p {
    width: 60%;
}
@media(max-width: 800px) {
    main > p {
        width: 100%;
    }
}

main a, main a:hover, main a:visited {
    color: green;
    text-decoration: none;
}
main a:hover {
    text-decoration: underline;
}

#test {
    width: 50%;
    margin: 0 auto;
}

@media(max-width: 900px) {
    #test {
        width: 70%;
    }
}

@media(max-width: 650px) {
    #test {
        width: 100%;
    }
}

#test h4 {
    margin: 1em 0 0.5em 0
}

#test p.question {
    width: 100%;
    margin: 0 auto 0.6em auto;
}
#test .answer-wrapper {
    width: 100%;
    margin: 0 auto;
}

#test div.answer-wrapper div {
    display: table;
}
#test div.answer-wrapper input {
    display: table-cell;
}
#test div.answer-wrapper label {
    display: table-cell;
    text-indent: -20px;
    padding-left: 20px;
}

#test button {
    width: 100px;
    margin: 20px auto 10px auto;
}

p.clock {
    color: firebrick;
}
div.clock-wrapper {
    background-color: rgba(178, 34, 34, 0.73)
}
div.clock {
    background-color: firebrick;
}
div.clock::after{
    content: '\00a0 ';
}

.red {
    color: #ec3131;
}
.blue {
    color: #2a3cd8;
}
.bold {
    font-weight: bold;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: black;
    font-size: 14px;

    width: 100%;
}

footer a, footer a:hover, footer a:visited{
    color: #a8a;
    text-decoration: none;
}
footer a:hover {
    color: lightgreen;
}
footer p {
    text-align: center;
    color: white;
    margin: 3px
}

#register {
    width: 405px;
}
#register > div {
    display: flex;
    justify-content: space-between;
}
#register > div > input {
    width: 250px;
    margin: 1px 0;
}

#register-form {
    display: flex;
}
@media(max-width: 650px) {
    #register-form {
        flex-direction: column;
    }
}

#register-form > div {
    margin: 5px 10px;
}

.g-recaptcha {
    margin: 8px auto;
    width: 304px;
}