@model IEnumerable<UserData>
@{
    ViewData["Title"] = "Lista sędziów";
}

<h1>Lista sędziów</h1>
<table id="directory">
    <thead>
        <tr>
            <td>Imię</td>
            <td>Nazwisko</td>
            <td>Drużyna</td>
            <td>AR</td>
            <td>SR</td>
            <td>HR</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model) {
            <tr>
                <td><a href="/profile/@user.Id">@user.Name</a></td>
                <td><a href="/profile/@user.Id">@user.Surname</a></td>
                <td>@user.Team</td>
                <td>
                    @if (user.ArIrdp == true) {
                        <span style="color:green">✔</span>
                    } else if (user.IsArCertified){
                        <span>✓</span>
                    }
                </td>
                <td>
                    @if (user.SrIrdp == true) {
                        <span style="color:green">✔</span>
                    } else if (user.IsSrCertified){
                        <span>✓</span>
                    }
                </td>
                <td>
                    @if (user.HrIrdp == true) {
                        <span style="color:green">✔</span>
                    } else if (user.IsHrCertified){
                        <span>✓</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<p>✓ - zaliczony test</p>
<p><span style="color:green">✔</span> - zaliczony test na portalu IRDP</p>