@{
    ViewData["Title"] = "PLQ REFEREES";
}

<h1>Portal certyfikacji sędziowskiej Polskiej Ligi Quidditcha</h1>
<p>Witaj w serwisie sędziowskim Polskiej Ligi Quidditcha. Znajdziesz tu materiały dla sędziów, testy certyfikacji sędziowskiej oraz listę wszystkich zarejestrowanych sędziów w Polsce.</p>
<p>Jeśli jesteś już certyfikowanym sędzią i masz zdany test IQA, napisz do nas maila z tytułem "IQA-REF", w treści którego podasz link do swojego profilu publicznego na tym portalu oraz link do swojego profilu publicznego na portalu IQA. 
    <br>Email: <a href="mailto:polskaligaquidditcha@gmail.com">polskaligaquidditcha@gmail.com</a>
    <br>Testy IQA: <a href="//iqareferees.org/">iqareferees.org</a></p>
<p>Obecnie dostępne testy są ułożone pod Rulebook 2018-2020.</p>