@{
    ViewData["Title"] = "Materiały";
}

<h1>Materiały</h1>
<p>Przed podejściem do testów, zachęcamy do zapoznania się z poniższymi materiałami, które pozwolą ci polepszyć się zarówno w podejściu do testów, jak i na boisku.</p>
<h3>Zasady</h3>
<p>Oczywiście podstawowym źródłem informacji jest <a href="https://polskaligaquidditcha.pl/files/PLQRulebook2018-2020.pdf" target="_blank">Rulebook</a>, czyli zbiór zasad Quidditcha.</p>
<h3>Wideo prezentacja</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/dZ_O5sW2oAY?rel=0" frameborder="0" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/u24EDOSTD5E?rel=0" frameborder="0" allowfullscreen></iframe>
<h3>Materiały w języku angielskim dla Rulebooka 2016-2018</h3>
<ul>
    <li>
        <a href="http://refdevelopment.com/files/IRDPScorekeeperGuide.pdf" target="_blank">Scorekeeper Guide</a>
    </li>
    <li>
        <a href="http://refdevelopment.com/files/IRDPGoalRefereeGuide.pdf" target="_blank">Goal Referee Guide</a>
    </li>
    <li>
        <a href="http://refdevelopment.com/files/IRDPRefereePositioningGuide.pdf" target="_blank">Positioning Guide</a>
    </li>
    <li>
        <a href="http://refdevelopment.com/files/IRDPConfidenceGuide.pdf" target="_blank">Confidence Guide</a>
    </li>
    <li>
        <a href="http://refdevelopment.com/files/IRDPCommunicationGuide.pdf" target="_blank">Communication Guide</a>
    </li>
    <li>
        <a href="http://refdevelopment.com/files/IRDPProfessionalismGuide.pdf" target="_blank">Professionalism Guide</a>
    </li>
    <li>
        <a href="http://refdevelopment.com/files/IRDPConsistencyGuide.pdf" target="_blank">Consistency Guide</a>
    </li>
    <li>
        <a href="http://refdevelopment.com/files/IRDPRefereeGameResponsibilitiesGuide.pdf" target="_blank">Referee Game Responsibilities Guide</a>
    </li>
    <li>
        <a href="https://docs.google.com/document/d/17G_WcTeb-JtlbfcpTeRenc-mHHvcm3NIzzmx0D6riso/edit" target="_blank">Referee Discussion Guide</a>
    </li>
    <li>
        <a href="https://docs.google.com/document/d/1J3nR0MaAlEOiuZhFI8QPSKqNd5HkG9YOyL4mxxDPQ5Y/edit" target="_blank">Post-Game Guide</a>
    </li>
    <li>
        <a href="http://refdevelopment.com/files/IRDPMultiLangGuide.pdf" target="_blank">Reffing in Multiple Languages Guide</a>
    </li>
    <li>
        <a href="https://docs.google.com/a/fandm.edu/document/d/1FrjMPZLdZiy5vM-4mVR24CvQ7c_eOYdfN0UsGxH0Yi0/edit" target="_blank">Back to Hoops Guide</a>
    </li>
</ul>