@{
    ViewData["Title"] = "Zmiana hasła";
}

<h1>Zmień hasło</h1>
@if (ViewData["Error"] != null) {
    <p class="red">Podane hasło jest nieprawidłowe.</p>
}
@if (ViewData["Success"] != null) {
    <p class="green">Hasło zostało zmienione.</p>
}
<form method="POST" id="register-form">
    <div id="register">
    <div>
        <label for="oldpwd">Stare hasło</label>
        <input type="password" name="oldpwd">
    </div>
    <div>
        <label for="newpwd">Nowe hasło (min 8 znaków)</label>
        <input type="password" name="newpwd" id="np">
    </div>
    <div>
        <label>Powtórz hasło</label>
        <input type="password" id="npp">
    </div>
    <div>
        @Html.AntiForgeryToken()
        <button type="submit" id="submit">Zmień</button>
    </div>
    </div>
</form>

@section Scripts {
<script>
    window.onload = function() {
        let pwd = document.getElementById("np");
        let pwdr = document.getElementById("npp");
        let sbmt = document.getElementById("submit");

        let passCheck = () => {
            if(pwd.value.length < 8)
                pwd.setCustomValidity("Hasło musi mieć przynajmniej 8 znaków!");
            else pwd.setCustomValidity("");

            if(pwd.value != pwdr.value)
                pwdr.setCustomValidity("Hasła muszą się zgadzać!");
            else pwdr.setCustomValidity("");
        };

        pwd.onkeydown = () => {
            passCheck();
        };
        pwdr.onkeydown = () => {
            passCheck();
        };
        sbmt.onclick = () => {
            passCheck();
        };
    }
</script>
}