<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="httpplatformhandler" />
            <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        <httpPlatform stdoutLogEnabled="false" stdoutLogFile="app.log" startupTimeLimit="20" processPath="%HOME%\site\wwwroot\PLQRefereeApp.exe">
            <environmentVariables>
                <environmentVariable name="port" value="%HTTP_PLATFORM_PORT%"/>
            </environmentVariables>
        </httpPlatform>
        <rewrite>
            <rules>
                <rule name="Redirect to HTTPS">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{SERVER_NAME}/{R:1}" redirectType="SeeOther" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>