{% extends "main.html" %}

{% block title %}
<title>Lista sędziów</title>
{% endblock %}

{% block content %}
<h1>Lista sędziów</h1>
<table id="directory">
    <thead>
        <tr>
            <td>Imię</td>
            <td>Nazwisko</td>
            <td>Drużyna</td>
            <td>AR</td>
            <td>SR</td>
            <td>HR</td>
        </tr>
    </thead>
    <tbody>
        {% for p in model.Users %}
            <tr>
                <td><a href="/profile/{{p.Id}}">{{p.Name}}</a></td>
                <td><a href="/profile/{{p.Id}}">{{p.Surname}}</a></td>
                <td>{{p.Team}}</td>
                <td>{% if p.Ar or p.Ar_Irdp %}✔{% endif %}</td>
                <td>{% if p.Sr or p.Sr_Irdp %}✔{% endif %}</td>
                <td>{% if p.Hr or p.Hr_Irdp %}✔{% endif %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}