{% extends "main.html" %}

{% block title %}
<title>Zaloguj</title>
{% endblock %}

{% block content %}
<h1>Zaloguj</h1>
{% if model.Error %}
<p style="color: red;">{{ model.Error.Value }}</p>
{% endif %}
<form method="POST">
    <div>
        <label for="email">Email</label>
        <input type="text" name="email">
    </div>
    <div>
        <label for="password">Hasło</label>
        <input type="password" name="password">
    </div>
    <div>
        {{ model.Csrfinput }}
        <button type="submit">Zaloguj</button>
    </div>
</form>
{% endblock %}