<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>PLQ REFEREES</title>
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/materials">Materiały</a>
            <a href="/directory">Lista sędziów</a>
            <a href="/test/AR">Test-AR</a>
            <a href="/test/SR">Test-SR</a>
            <a href="/test/HR">Test-HR</a>
        </nav>
        <nav>
            <a href="/login">Login</a>
        </nav>
    </header>
    <main>
        {% block content %}
        <h1>Portal certyfikacji sędziowskiej Polskiej Ligi Quidditcha</h1>
        <p>Witaj w szerwisie sędziowskim Polskiej Ligi Quidditcha. Znajdziesz tu materiały dla sędziów, testy certyfikacji sędziowskiej oraz listę wszystkich zarejestrowanych sędziów w Polsce.</p>
        <p>Jeśli jesteś już certyfikowanym sędzią i masz zdany test IQA, napisz do nas maila z tytułem "IRDP-REF", w treści którego podasz link do swojego profilu publicznego na tym portalu oraz link do swojego profilu publicznego na portalu IRDP.</p>
        <p>Obecnie dostępne testy są ułożone pod Rulebook 2016-2018.</p>
        {% endblock %}
    </main>
    <footer>
        <p>Strona została przygotowana przez <a href="https://www.twitter.com/MDziubiak/">Mariana Dziubiaka</a> dla <a href="https://polskaligaquidditcha.pl">Polskiej Ligi Quidditcha</a>.</p>
        <p>Jej źródła są dostępne pod adresem <a href="https://github.com/manio143/PLQRefereeApp/">https://github.com/manio143/PLQRefereeApp/</a></p>
    </footer>
</body>
</html>