{% extends "main.html" %}

{% block title %}
<title>Opłaty za testy</title>
{% endblock %}

{% block content %}
<h1>Opłaty za testy</h1>
<p>W związku z tym, że Sędzia Główny dostaje zapłatę za mecze, które sędziuje, to Polska Liga Quidditcha wymaga wniesienia opłaty za możliwość podejścia do testu certyfikacyjnego na Sędziego Głównego. Pieniądze te zostaną przeznaczone m.in. na rozwój platformy do testowania sędziów oraz rozwój infrastruktury sędziowskiej w Polsce.</p>
<p>Opłatę w wysokości 35zł należy uiścić na konto PLQ z tytułem <em>"Imię Nazwisko TEST HR id-użytkownika"</em>, gdzie id użytkownika to numer znajdujący się w adresie strony twojego publicznego profilu.<br>
Numer konta: XX XXXXX XXXXX XXXXX</p>
{% endblock %}