{% extends "main.html" %}

{% block title %}
<title>{{ model.Title }}</title>
{% endblock %}

{% block content %}
<h1>{{ model.Title }}</h1>
{% if model.User.Team %}
<p>Drużyna: {{model.User.Team}}</p>
{% endif %}
<div class="flex-wrapper">
    <div>
        <h3>Certyfikaty</h3>
        {% unless model.User.Ar or model.User.Ar_Irdp or model.User.Sr or model.User.Sr_Irdp or model.User.Hr or model.User.Hr_Irdp %}
        <p>Brak certyfikatów</p>
        {% endunless %}
        {% if model.User.Ar or model.User.Ar_Irdp %}
        <p>Sędzia Pomocniczy</p>
        {% endif %}
        {% if model.User.Sr or model.User.Sr_Irdp %}
        <p>Sędzia Zniczowy</p>
        {% endif %}
        {% if model.User.Hr or model.User.Hr_Irdp %}
        <p>Sędzia Główny</p>
        {% endif %}
    </div>
    <div>
        {% block more %}
        {% endblock %}
    </div>
</div>
{% endblock %}