{% extends "main.html" %}

{% block title %}
<title>Rejestracja</title>
{% endblock %}

{% block content %}
<h1>Rejestracja</h1>
{% if model.Error %}
<p class="red">{{ model.Error.Value }}</p>
{% endif %}
<form method="POST" id="register-form">
    <div id="register">
        <div>
            <label for="email">Email<span class="red">*</span></label>
            <input type="email" name="email" required>
        </div>
        <div>
            <label for="password">Hasło<span class="red">*</span></label>
            <input type="password" name="password" id="password" required>
        </div>
        <div>
            <label>Powtórz hasło<span class="red">*</span></label>
            <input type="password" id="password-r" required>
        </div>
        <div style="display: block">
            <p>Siła twojego hasła <span id="pwd-strength">........</span> <!--TODO--> </p>
        </div>
        <div>
            <label for="name">Imię<span class="red">*</span></label>
            <input type="text" name="name" required>
        </div>
        <div>
            <label for="surname">Nazwisko<span class="red">*</span></label>
            <input type="text" name="surname" required>
        </div>
        <div>
            <label for="team">Drużyna</label>
            <input type="text" name="team">
        </div>
        <div>
            {{ model.Csrfinput }}
            <button type="submit" id="submit">Rejestruj</button>
        </div>
    </div>
    <div>
        Hasło powinno:
        <ul>
            <li>Mieć conajmniej 10 znaków.</li>
            <li>Nie powtarzać się na innych twoich kontach.</li>
            <li>Nie być "znanym" hasłem (na liście popularnych haseł).</li>
            <li>Łatwe do zapamiętania są frazy (patrz <a href="https://www.xkcd.com/936/">komiks XKCD</a>).</li>
        </ul>
    </div>
</form>

<script src="/js/zxcvbn.js" async></script>
<script>
    window.onload = function() {
        let pwd = document.getElementById("password");
        let pwdr = document.getElementById("password-r");
        let sbmt = document.getElementById("submit");
        let pwdStrength = document.getElementById("pwd-strength");

        let passCheck = () => {
            if(pwd.value.length < 8)
                pwd.setCustomValidity("Hasło musi mieć przynajmniej 8 znaków!");
            else pwd.setCustomValidity("");

            if(pwd.value != pwdr.value)
                pwdr.setCustomValidity("Hasła muszą się zgadzać!");
            else pwdr.setCustomValidity("");
        };

        pwd.onkeydown = () => {
            let result = zxcvbn(pwd.value);
            if(result.score <= 1) {
                pwdStrength.innerText = "Słabe";
                pwdStrength.style.color = "red";
            } else if (result.score == 2) {
                pwdStrength.innerText = "Średnie";
                pwdStrength.style.color = "#f7c120";
            } else if (result.score == 3) {
                pwdStrength.innerText = "Dobre";
                pwdStrength.style.color = "green";
            }
            else {
                pwdStrength.innerText = "Wspaniałe";
                pwdStrength.style.color = "green";
            }
            passCheck();
        };
        pwdr.onkeydown = () => {
            passCheck();
        };
        sbmt.onclick = () => {
            passCheck();
        };
    }
</script>
{% endblock %}