{% extends "main.html" %}

{% block title %}
<title>{{ model.Test_Title}}</title>
<script src="/js/test.js"></script>
{% endblock %}

{% block content %}
<div id="intro">
    <h2>{{ model.Test_Title }}</h2>
    <ul>
        <li>Czas trwania: {{ model.Test_Time }}</li>
        <li>Próg zaliczenia: 80%</li>
        <li>Nie zamykaj tej strony, dopóki nie zakończysz testu klikając w przycisk 'Zakończ test'
    </ul>
    <div class="flex-center">
        <button id="start-test-btn">Rozpocznij test</button>
    </div>
</div>
{% endblock %}